<launch>
  <include
    file="$(find gazebo_worlds)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo"
    type="spawn_model"
    args="-file $(find kitchen_gazebo)/robots/kitchen_gazebo.URDF -urdf -model kitchen_gazebo"
    output="screen" />
  <include
    file = "$(find kitchen_gazebo)/launch/display.launch" />
  <include file="$(find web_common)/launch/pr2.launch"/>
</launch>
